<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<parameter name="browser" value="chrome" />
	<listeners>
		<listener class-name="com.WNS_Project.Utilities.Listeners" />
	</listeners>

	<test name="Test1">
		<classes>

			<class name="com.WNS_Project.testCases.TC_04_Create_NewKey" />

		</classes>
	</test> <!--
	Test -->

	<test name="Test2">
		<classes>

			<class name="com.WNS_Project.testCases.TC_05_Import_Key" />

		</classes>
	</test> <!--
	Test -->

</suite> <!--
Suite -->